<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       https://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<!-- 指定扫描的基址路径 -->
    <context:component-scan base-package="com.hnit.shopping" />
    <!-- 引入外部资源文件 -->
    <context:property-placeholder location="classpath*:db.properties" />

    <!-- 数据库连接池配置 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverName}" />
        <property name="url" value="${url}" />
        <!-- 这个地方变量引用的名称不能是username -->
        <property name="username" value="${user}" />
        <property name="password" value="${password}" />
    </bean>

   <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 映射文件mapper.xml的路径 -->
        <property name="mapperLocations" value="classpath*:com/hnit/shopping/mapper/*Mapper.xml" />
        <!-- 别名包路径 -->
        <property name="typeAliasesPackage" value="com.hnit.shopping.entity" />
    </bean>

    <!-- 配置mybatis映射接口的代理实现，映射文件Mapper.xml中namespace必须跟对应接口的全路径，且里面的id必须是对应方法的方法名 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 映射文件Mapper.xml对用的接口路径 -->
        <property name="basePackage" value="com.hnit.shopping.mapper" />
        <!-- 配置获取SqlSession的SqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!-- 配置事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
   <!-- 文件上传 -->
   <bean id = "multipartResolver"
   	class = "org.springframework.web.multipart.support.StandardServletMultipartResolver">
   </bean>
</beans>